.blogs h3 {
  color: black;
  text-align: center;
}
.blogs h4 {
  color: black;
  text-align: center;
}
.blogs p {
  color: red;
  text-align: center;
}

.blogs {
  width: 300px;
  border-style: dotted;
}
.blog {
  display: flex;
  flex-wrap: wrap;
}

.Nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.Nav li {
  display: inline-block;
  margin: 20px;
}
.Nav a {
  text-decoration: none;
  color: black;
}
.Nav a:hover,
.Nav a.active,
.Nav a.active {
  color: mediumvioletred;
}
